@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    /* background-color: #faf6f6; */
}
*{
font-family: "Poppins", sans-serif;
font-weight:400;
font-style: normal;
overflow-x: hidden;
}
.register {
  width: 100vw;

  background: linear-gradient(92deg, #09090b 6%, #1e1e33 80%);
  height: 100vh;
 /* Ensure the image covers the entire element */
  background-repeat: no-repeat; /* Prevent image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container {
    display: flex;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Linear gradient */
    url("/Images/air_2.jpg"); 
    background-size: cover; /* Ensure the image covers the entire element */
    background-repeat: no-repeat;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 85vh;
    width: 70vw; /* Adjusted width */
    padding: 0 50px;
    box-shadow: 0 0 10px #636368; /* Added box shadow */
  }
  
  .image-container {
    flex: 1;
    
   
}
  
  .image-container img {
    width: 100%; /* Adjusted width to fit container */
    height:64vh;/* Adjusted height to fit container */
    object-fit: cover;
    border-radius: 10px;
  }
  
  .form-container {
  
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%; /* Adjusted width to fit container */
    padding: 20px;

    background: linear-gradient(92deg, #09090b 6%, #1e1e33 80%);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Added box shadow */
  }
  .form-container form{
     display: flex;
     width: 30vw;
     gap: 10px;
     flex-direction: column;
     justify-content:center ;
     align-items: center;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    line-height: normal;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  input {
    width:26vw !important;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 2px solid #fff;
    color: #0056b3;
    border-radius: 5px;
  }
 input:focus{
    border: 2px solid #0056b3;
 }
  button[type="submit"] {
    width:28vw !important;
    padding: 10px;
    background: linear-gradient(92deg, #42a5f5 6%, #0d4d8d 80%);
    color: #fff;
    font-size: 16px;
    border: none;
    font-weight: 400;
    margin: 10 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 
  input[type="password"]::-webkit-input-placeholder {
   
    color: #007bff !important; 
  }
  


  /* Login */
  .login{
    width: 100vw;
    display: flex;
    
  background: linear-gradient(92deg, #09090b 6%, #1e1e33 80%);
    justify-content: center;
    align-items: center;
    height: 100vh;;
  }
  
  
  .image {
    flex: 1;
  }
  .image img{
    width: 100%; /* Adjusted width to fit container */
    height:55vh;/* Adjusted height to fit container */
    object-fit: cover;
    border-radius: 10px;  
  }
  .login-form-container{
    display: flex;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Linear gradient */
    url("/Images/air_2.jpg"); 
    background-size: cover; /* Ensure the image covers the entire element */
    background-repeat: no-repeat;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 85vh;
    width: 70vw; /* Adjusted width */
    padding: 0 50px;
    box-shadow: 0 0 10px #636368; 
  }

  .form-container {
    flex: 1;
    padding: 20px;
  }
  
  .login-form {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
